node_modules
dist
.env
.DS_Store
projects/Westnahira-Cellularz
projects/ceylon-journies
projects/gentry-cut-ai-design
projects/Apps/Split-Smart-main/.gradle
projects/Apps/Split-Smart-main/build
projects/Apps/LankaReads/.gradle
projects/Apps/LankaReads/build
